#############################
# GLOBAL OS TRASH
#############################
.DS_Store
Thumbs.db

#############################
# GLOBAL PYTHON ENV
#############################
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
**/env/

#############################
# GLOBAL ENV FILES
#############################
**/.env
**/.env.*

#############################
# GLOBAL DATASETS (ML / MQTT)
#############################
**/datasets/
**/dataset/
**/data/
**/*.csv
**/*.tsv
**/*.xlsx
**/*.npy
**/*.npz
**/*.pkl

#############################
# GLOBAL LOGS
#############################
**/*.log
**/logs/

#############################
# GLOBAL BUILD & COMPILATION OUTPUT
#############################
**/build/
**/.dart_tool/
**/.gradle/
**/.pub-cache/
**/.pytest_cache/

#############################
# BACKUP / TEMP FILES
#############################
*.bak
*.tmp
*.swp
*.orig
**/data/
